<a href="/dashboard">&larr; back</a>
<div class="admin-title">
  <h2>Edit Post</h2>
</div>

<form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete" class="admindeletebtn" />
</form>

<form
  action="/edit-post/<%= data._id %>?_method=PUT"
  method="post"
  enctype="multipart/form-data"
>
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= data.title %>" />

  <label for="content">Content</label>
  <textarea name="content" placeholder="Enter content" cols="50" rows="10">
    <%= data.content %>
</textarea
  >
  <img
    src="../img/<%= data.blog_img %>"
    alt="card_img"
    width="185px"
    height="185px"
  />
  <label for="blog-img"> Image </label>
  <input type="file" name="blog_img" value="blog_img" />

  <button type="submit" class="btn" value="Update">Update</button>
</form>
